################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NCA/FileContentIndex/e510285c-535e-48c9-806f-8f020c124624.vsidx
